@import '../../../styles/settings.scss';

.link {
    position: relative;
    display: block;
    margin: 70px 0;
    @include var(color, wwhite);
    text-align: center;
    text-decoration: none;
    text-shadow: 0.05em 0.05em 2px var(--ts), 0 0 1em var(--ts), 0 0 0.3em var(--ts);
    font-size: 40px;
    font-weight: 700;
    transition: 0.5s;
}

.link:hover {
    font-size: 46px;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--ts);
    transform: scale(0);
    transition: 1.5s;
}

.link:hover::after {
    transform: scale(0.5);
}