@import './settings.scss';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    @include var(background-color, lightb);
}

.topContainer {
    display: flex;
    height: 90vh;
}