@import '../../../styles/settings.scss';

.nav {
    width: 20vw;
    border-left: 5px solid #ba7245;
}

.name {
    @include var(color, wwhite);
    text-align: center;
    text-shadow: 0.05em 0.05em 2px var(--ts), 0 0 1em var(--ts), 0 0 0.3em var(--ts);
    font-size: 60px;
}

